@* Mensajes Template File *@
@(flash: Flash)

@flash.get("success").map{msg =>
	<div class="alert alert-success alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	  <strong>Hecho</strong> @msg
	</div>  
}.getOrElse("")
@flash.get("error").map{msg =>
	<div class="alert alert-danger alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	  <strong>Error!</strong> @msg
	</div> 
}.getOrElse("") 