@* cuentas Template File *@
@(cliente: Cliente, cuentas: Seq[Cuenta])(implicit flash: Flash)

@import helper._

@main("Listado de Cuentas"){
	<div class="container">
		<h4>Cuentas de @cliente.nombre</h4>
	</div>
	
	<div class="container" align="right">
		@helper.mensajes(flash)
		@form(routes.CuentasController.agregarCuenta(cliente.id.get)) {
			<button type="submit" name="action" value="create" class="btn primary" id="create-btn">Crear cuenta</button>
		}
	</div>
	
	<div class="container">
		<table class="table table-hover">
			<tr>
				<th>Número</th>
				<th>Saldo</th>
				<th>---</th>
				<th>---</th>
			<tr>
			@for(cuenta <- cuentas) {
				<tr>
					<td>@cuenta.numero</td> 
					<td>@cuenta.saldo</td>
					<td>
						<a href="@routes.MovimientosController.mostrarMovimientos(cliente.id.get, cuenta.id.get)">
							Movimientos
						</a>
					</td>
					<td>
						@form(routes.CuentasController.eliminar(cliente.id.get, cuenta.id.get)) {
							<button type="submit" class="btn btn-danger">Eliminar</button>
						}
					</td>  
				</tr>
			}
		</table>
	</div>
}

