@* movimientos Template File *@
@(idCliente: Int, cuenta: Cuenta, movimientos: Seq[Movimiento])(implicit messages: Messages, flash: Flash)

@import helper._

@main("Movimientos de cuenta"){
	<div class="container">
		@helper.mensajes(flash)
	</div>
	
	<div class="container">
			@form(action = routes.MovimientosController.registrarMovimiento(idCliente, cuenta.id.get), args = 'class ->"form-inline") {
				<h4>Cuenta No @cuenta.numero - Saldo $@cuenta.saldo</h4>
				<div align="right" >
					<select class="form-control" id="tipo" name="tipo">
					  <option value="0">Débito</option>
					  <option value="1">Crédito</option>
					</select>
					<div class="form-group">
					    <label for="valor">Valor</label>
					    <input type="text" class="form-control" name="valor" id="valor">
				  	</div>
				    <button type="submit" name="action" value="add" class="btn primary" id="create-btn">Registrar</button>
			  </div>
			}
		
	</div>
	
	<div class="container">
		<table class="table table-hover">
			<tr>
				<th>Fecha</th>
				<th>Tipo</th>
				<th>Valor</th>
			<tr>
			@for(movimiento <- movimientos) {
				<tr>
					<td>@movimiento.fecha</td>
					<td>
						@if(movimiento.tipo == TipoMovimiento.debito){
							Débito
						}else{
							Crédito
						}
					</td>
					<td>@movimiento.valor</td>
				</tr>
			}
		</table>
	</div>
}