@* nuevoCliente Template File *@
@(clienteForm: Form[Cliente])(implicit messages: Messages)

@import helper._

@main("Nuevo Cliente"){
		@form(routes.ClientesController.crearCliente()) {
			<center>
				<div align="left"  style="width:400px" >
					@partials.clienteForm(clienteForm)
					<div class="actions">
				      <input type="submit" value="Crear cliente" class="btn primary" id="create-btn">
				      <a href="@routes.ClientesController.clientes()" role="button" class="btn btn-primary">Cancelar</a>
				    </div>
			    </div>
			</center>
	}
}
