@* reporte Template File *@
@(cliente: Cliente, reportes: Seq[Reporte])(implicit messages: Messages, flash: Flash)

@import helper._

@main("Reporte"){
	<div class="container">
		<h4>Reporte de cuentas de @cliente.nombre</h4>
		@helper.mensajes(flash)
	</div>
	
	<div class="container" align="right">
		@form(action = routes.CuentasController.agregarCuenta(cliente.id.get), args = 'class ->"form-inline") {
			<input type="date" name="desde">
			<input type="date" name="hasta">
			<button type="submit" class="btn btn-default">Consultar</button>
		}
	</div>
	<div class="container">
		<table class="table table-hover">
			<tr>
				<th>Cuenta</th>
				<th>Saldo</th>
				<th>Total débitos</th>
				<th>Total créditos</th>
			<tr>
			@for(reporte <- reportes) {
				<tr>
					<td>@reporte.cuenta.numero</td>
					<td>@reporte.cuenta.saldo</td>
					<td>@reporte.totalDebitos</td>
					<td>@reporte.totalCreditos</td>
				</tr>
			}
		</table>
	</div>
}