@* clientes Template File *@
@(clientes: Seq[Cliente])(implicit flash: Flash)

@main("Clientes") {
	<div class="container" align="right">
		@helper.mensajes(flash)
		<a class="btn btn-default" href="@routes.ClientesController.nuevoCliente()" role="button">Nuevo Cliente</a>
	</div>
	
	<div class="container">
		<table class="table table-hover">
			<tr>
				<th>Nombre</th>
				<th>Dirección</th>
				<th>Teléfono</th>
				<th>---</th>
				<th>---</th>
				<th>---</th>
			<tr>
			@for(cliente <- clientes) {
				<tr>
					<td>@cliente.nombre</td> 
					<td>@cliente.direccion</td> 
					<td>@cliente.telefono</td>
					<td><a href="@routes.CuentasController.mostrarCuentas(cliente.id.get)">Ver Cuentas</a></td>
					<td><a href="@routes.CuentasController.reporte(cliente.id.get)">Ver Reporte</a></td>
					<td><a href="@routes.ClientesController.editarCliente(cliente.id.get)">Editar</a></td> 
				</tr>
			}
		</table>
	</div>
}
