@* nuevoCliente Template File *@
@(id: Int, clienteForm: Form[Cliente])(implicit messages: Messages)

@import helper._

@main("Editar Cliente"){
		@form(routes.ClientesController.actualizarEliminarCliente(id)) {
			<center>
				<div align="left"  style="width:400px" >
					@partials.clienteForm(clienteForm)
					<div class="actions">
				      <button type="submit" name="action" value="update" class="btn primary" id="create-btn">Actualizar</button>
	  		      	  <button type="submit" name="action" value="delete" class="btn btn-danger" id="delete-btn">Eliminar</button>
	  		      	  <a href="@routes.ClientesController.clientes()" role="button" class="btn btn-primary">Cancelar</a>
				    </div>
			    </div>
			</center>
	}
}
