@import java.util.Date
@* reporte Template File *@
@(cliente: Cliente, reportes: Seq[Reporte], repForm: Form[(Date, Date)])(implicit messages: Messages, flash: Flash)

@import helper._

@main("Reporte"){
	<div class="container">
		<h4>Reporte de cuentas de @cliente.nombre</h4>
		@helper.mensajes(flash)
	</div>
	
	<div class="container" align="right">
		@form(action = routes.CuentasController.verReporte(cliente.id.get), args = 'class ->"form-inline") {
			<div class="form-group">
				<label for="desde">Desde</label>
				<input type="date" id="desde" name="desde" value="@repForm("desde").value" class="form-control">
			</div>
			<div class="form-group">
				<label for="hasta">Hasta</label>
				<input type="date" id="hasta" name="hasta" value="@repForm("hasta").value" class="form-control">
			</div>
			<button type="submit" class="btn btn-default">Consultar</button>
		}
	</div>
	<div class="container">
		<table class="table table-hover">
			<tr>
				<th>Cuenta</th>
				<th>Saldo</th>
				<th>Total débitos</th>
				<th>Total créditos</th>
			<tr>
			@for(reporte <- reportes) {
				<tr>
					<td>@reporte.cuenta.numero</td>
					<td>@TemplateHelpers.formatCurrency(reporte.cuenta.saldo)</td>
					<td>@TemplateHelpers.formatCurrency(reporte.totalDebitos)</td>
					<td>@TemplateHelpers.formatCurrency(reporte.totalCreditos)</td>
				</tr>
			}
		</table>
	</div>
}